.projects-wraper{
    background-color: rgb(var(--first-plan));
    padding: 0 10vw 15vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    width: 100%;
}
.projects-wraper h1{
    font-size: 12vw;
}
.project{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-bottom: 5vh;
}

.project-images-slider{ 
    overflow-x: hidden;
}

.project-images{
    display: flex;
    transition: transform .5s;
}
.project-slider-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin: 0 auto;
}

.dot{
    width: 10px;
    height: 10px;
    background-color: white;
    opacity: .5;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    will-change: transform;
    transition: opacity .5s, transform .5s;
}
.active-dot{
    transform: scale(1.3);
    opacity: 1;
}
.project-images-slider img{
    width: 100%;
}
.project p{
    text-align: justify;
    font-weight: 200;
    white-space: pre-wrap;
}
.project .link{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.project .link a{
    color: white
}
.project b{
    font-size: 1.2rem;
    font-weight: 500;
}
.project-technologies{
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
}
.project-technologies span{
    padding: 1vh;
    background-color: rgb(var(--third-plan));
}

@media screen and (min-width: 920px){
    .projects-wraper h1{
        margin-block: 10vh;
        font-size: 8vw;
    }
    .project{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, min-content) 1fr min-content;
        grid-column-gap: 5vw;
        grid-row-gap: 3vh;
    }
    
    .project h2{ grid-area: 1 / 2 / 2 / 3; }
    .project-photos{ grid-area: 1 / 1 / 6 / 2; }
    .project p{ grid-area: 2 / 2 / 3 / 3; }
    .project .link{ grid-area: 3 / 2 / 4 / 3; }
    .project-technologies{
        grid-area: 4 / 2 / 5 / 3;
        gap: 1vw;
    }
    .flipColumns h2{ grid-area: 1 / 1 / 2 / 3; }
    .flipColumns .project-photos{ grid-area: 1 / 2 / 6 / 2; }
    .flipColumns p{ grid-area: 2 / 1 / 3 / 2; }
    .flipColumns .link{ grid-area: 3 / 1 / 4 / 2; }
    .flipColumns .project-technologies{
        grid-area: 4 / 1 / 5 / 2;
        gap: 1vw;
    }
}