nav{
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
}
.nav-wraper{
    position: relative;
    width: 100%;
    padding: 6vh 10vw;
    display: flex;
    justify-content: center;
}
.nav-button{
    font-size: 7vw;
    border: none;
    outline: none;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    padding: 2vw;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.724);
    z-index: 102;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.184);
    transition: transform .5s;
    animation: show-menu-button .5s;
}
.nav-button:active{
    transform: scale(0.8);
}
@keyframes show-menu-button {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.nav-items{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    gap: 1vh;
    font-size: 7vw;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.43);
    backdrop-filter: blur(8px);
    flex-direction: column;
    width: 90%;
    border-radius: 4vw;
    margin-inline: auto;
    padding: 6vh 0 26vh;
    transform: translate3d(0, 100% ,0);
    transition: transform .4s cubic-bezier(.31,0,0,.98);
    will-change: transform;
}
.nav-items span{
    padding: 2vh 10vw;
}
.show-menu{
    transform: translate3d(0, 0 ,0);
}

@media screen and (min-width: 700px){
    .nav-button{
        display: none;
    }
    .nav-items{
        transform: translateY(0%);
        flex-direction: row;
        font-size: 1.5vw;
        gap: 1vw;
        padding: 1vh 2vw;
        bottom: 2vh;
        justify-content: center;
        width: auto;
        transition: transform .3s;
        animation: show-menu-button .5s;
        will-change: transform;
    }
    .nav-items span{
        padding: 2vh 2vw;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .nav-items span::before{
        content: "";
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        height: .7vh;
        background-color: black;
        border-radius: 30px;
        opacity: 0;
        transform: translateY(100%);
        transition: opacity .4s, transform .4s;
        will-change: opacity;
    }
    .nav-items span.active::before{
        opacity: 1;
        transform: translateY(0%);
    }
    .nav-items span::after{
        content: "";
        display: inline-block;
        position: absolute;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
        border-radius: 5vh;
        background-color: rgba(255, 255, 255, 0.498);
        opacity: 0;
        transition: opacity .5s;
        will-change: opacity;
        z-index: -1;
    }
    .nav-items span:hover::after{
        opacity: 1;
    }
    .nav-items.scroll-down{
        transform: translateY(calc(100% + 2vh));
    }
    nav:hover .nav-items{
        transform: translateY(0%);
    }
}