nav{
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
}
.nav-wraper{
    position: relative;
    width: 100%;
    padding: 6vh 10vw;
    display: flex;
    justify-content: center;
}
.nav-button{
    font-size: 7vw;
    border: none;
    outline: none;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    padding: 2vw;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.724);
    z-index: 102;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.184);
    transition: transform .5s;
    animation: show-menu-button .5s;
}
.nav-button:active{
    transform: scale(0.8);
}
@keyframes show-menu-button {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.nav-items{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    gap: 1vh;
    font-size: 7vw;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.43);
    backdrop-filter: blur(8px);
    flex-direction: column;
    width: 100%;
    margin-inline: auto;
    padding: 6vh 0 26vh;
    transform: translateY(100%);
    transition: transform .4s cubic-bezier(.31,0,0,.98);
    will-change: transform;
}
.nav-items span{
    padding: 2vh 10vw;
}
.show-menu{
    transform: translateY(0%);
}