:root {
  --first-plan: 14, 23, 56;
  --third-plan: 36, 60, 102;
}
html{
  overflow: overlay;
}
body, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100%;
  background-color: rgb(var(--first-plan));
  overflow: overlay;

}

#root{
  
}